body {
  width: 100vw;
  height: 2000px;
  background-color: black;
}
header {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header h1 {
  height: 15%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 40px;
}

.header_infos {
  height: 85%;
  width: 100%;
  background-color: rgb(109, 16, 16);
  display: flex;
  align-items: center;
}
.header_infos_div {
  height: 80%;
  width: 45%;
  color: white;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header_infos_div h2 {
  font-size: 30px;
  font-weight: bold;
}
.header_infos_div p {
  font-size: 20px;
}
.header_infos_div button {
  background-color: transparent;
  height: 40px;
  width: 300px;
  color: white;
  font-size: 20px;
  border-radius: 25px;
  border: white solid 2px;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;

  justify-content: space-around;
}

.vitrine {
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 100px;
}

.vitrine_movie {
  width: 100%;
  height: 300px;
  background-color: brown;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.vitrine_movie h2 {
  font-size: 32px;
  margin-left: 50px;
}
.vitrine_movie p {
  font-size: 18px;
  width: 60%;
  margin-left: 50px;
}
.vitrine_movie_addMovie {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.vitrine_movie_addMovie span {
  font-size: 16px;
  font-weight: bold;
  margin-right: 50px;
}
.cart {
  width: 25%;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cart h3 {
  font-size: 24px;
  font-weight: bold;
}
.cart_display {
  width: 60%;
  padding-top: 30px;
  background-color: black;
  height: auto;
}
.cart_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(32, 31, 30);
  min-height: 300px;
  padding: 10%;
  align-items: center;
}
.cart_movie {
  color: white;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(33, 28, 28);
}
.cart_movie img {
  height: 45px;
  width: 45px;
}
